.teacher__addForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.teacher__addForm > .input {
    flex: 0.1;
}

.table > td {
    vertical-align: bottom;
}

.firstName {
    flex: 0.125;
}
.surname {
    flex: 0.125;
}

.email {
    flex: 0.225;
}

.garda {
    flex: 0.20;
    padding-bottom: 33px;
}

.telNo {
    flex: 0.16;
}