.app__page {
    display: flex;
    flex-direction: column;
}

.header__content {
    /* flex-direction: row; */
}

.body__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 50px;
}

.body__content > .app__sidebar{
    position: sticky;
    flex: 0.15;
}

.body__content > .app__mainContent {
    margin-left: 5px;
    flex: 0.85;
}